html {
  --c-accent: #FFCC00;
  --c-accent-light: #ffdd33;
  --c-text-regular: #0f0f0f;
  --c-text-second: #444;
  --c-code-string: #34C759;
  --c-code-function: #FF9500;
  --c-code-new: #007AFF;
  --shadow-button: 0px 4px 0px #E5B800;
  --shadow-acent-bg: 0px 100px 80px rgba(255, 59, 48, 0.07), 0px 41.7776px 33.4221px rgba(255, 59, 48, 0.0503198), 0px 22.3363px 17.869px rgba(255, 59, 48, 0.0417275), 0px 12.5216px 10.0172px rgba(255, 59, 48, 0.035), 0px 6.6501px 5.32008px rgba(255, 59, 48, 0.0282725), 0px 2.76726px 2.21381px rgba(255, 59, 48, 0.0196802);
  --shadow-black-bg: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  --bg-button-primary: tomato;
  --bg-button-primary--hover: tomato;
  --fz-base: 16px;
  --fz-title-section: 48px;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;
  --z-dropdown: 10;
  --z-tooltip: 20;
  --z-sticky-header: 90;
  --z-popup: 100;
  --z-burger-button: 50;
  --z-burger: 110;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--c-accent);
}

.hidden {
  visibility: hidden;
}

a, button {
  cursor: pointer;
  font-family: 'IBM Plex Mono', monospace;
}

input, button {
  border: none;
  padding: 0;
  background: none;
  display: inline-block;
}

p, ul, h1, h2, h3, h4, h5, h6, ol {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

h2 {
  font-size: var(--fz-title-section);
}

ul, ol {
  list-style: none;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  font-size: var(--fz-base);
  color: var(--c-text-regular);
}

.header {
  padding-top: 34px;
  padding-bottom: 34px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 46px 278px rgba(0, 0, 0, 0.05), 0px 5.75991px 34.8099px rgba(0, 0, 0, 0.025);
          box-shadow: 0px 46px 278px rgba(0, 0, 0, 0.05), 0px 5.75991px 34.8099px rgba(0, 0, 0, 0.025);
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrapper-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrapper-nav__link {
  font-size: 14px;
  margin-right: 32px;
}

.header-wrapper__download {
  background-color: transparent;
  border: 2px solid var(--c-accent);
  color: var(--c-text-regular);
  font-size: 18px;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 12px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header-wrapper__download:hover {
  background-color: var(--c-accent);
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header-wrapper__download:focus {
  color: #fff;
  background-color: var(--c-accent);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.hero {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

.hero__title {
  font-size: 80px;
  font-weight: 600;
  margin-bottom: 30px;
}

.hero__desc {
  font-size: 24px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.hero-buttons__get {
  background-color: var(--c-accent);
  border: 2px solid var(--c-accent);
  color: var(--c-text-regular);
  font-size: 18px;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-shadow: var(--shadow-button);
          box-shadow: var(--shadow-button);
  border-radius: 12px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  display: inline-block;
}

.hero-buttons__get:hover {
  background-image: var(--bg-button-primary--hover);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.hero-buttons__get:focus {
  background-image: var(--bg-button-primary--hover);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.hero-buttons__demo {
  background-color: transparent;
  border: 2px solid var(--c-accent);
  color: var(--c-text-regular);
  font-size: 18px;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 12px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.hero-buttons__demo:hover {
  background-color: var(--c-accent);
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.hero-buttons__demo:focus {
  color: #fff;
  background-color: var(--c-accent);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.demo {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--c-accent);
}

.demo__title {
  font-size: var(--fz-title-section);
  text-align: center;
  margin-bottom: 50px;
  font-weight: 600;
  margin-top: 50px;
}

.demo-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  -webkit-box-shadow: var(--shadow-acent-bg);
          box-shadow: var(--shadow-acent-bg);
}

.demo-card__button {
  background-color: transparent;
  border: 2px solid var(--c-accent);
  color: var(--c-text-regular);
  font-size: 18px;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 12px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.demo-card__button:hover {
  background-color: var(--c-accent);
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.demo-card__button:focus {
  color: #fff;
  background-color: var(--c-accent);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.demo-card--not-released {
  opacity: 0.3;
}

.demo-card__default {
  margin-top: 20px;
  text-align: center;
  opacity: 0.5;
}

.demo-pop {
  padding: 0;
  border-radius: 12px;
  border: 12px solid #fff;
}

.animations {
  padding-top: 80px;
  padding-bottom: 80px;
}

.position {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--c-accent-light);
}

.methods {
  padding-top: 80px;
  padding-bottom: 80px;
}

.methods__title {
  font-size: var(--fz-title-section);
  text-align: center;
  margin-bottom: 50px;
  font-weight: 600;
  margin-top: 50px;
}

.methods .demo-card {
  -webkit-box-shadow: var(--shadow-black-bg);
          box-shadow: var(--shadow-black-bg);
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.closers {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--c-accent);
}

.closers__title {
  font-size: var(--fz-title-section);
  text-align: center;
  margin-bottom: 50px;
  font-weight: 600;
  margin-top: 50px;
}

.code {
  border-radius: 12px;
  background: #000;
  color: #fff;
  padding: 40px;
  -webkit-user-select: all;
     -moz-user-select: all;
      -ms-user-select: all;
          user-select: all;
}

.code-row {
  display: block;
  padding-left: 30px;
}

.code__function {
  color: var(--c-code-function);
}

.code__string {
  color: var(--c-code-string);
}

.code__parameter {
  color: var(--c-code-new);
}

.code__number {
  color: var(--c-accent);
}

.form-privacy {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-privacy__checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 15px;
  height: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #828282;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}

.form-privacy__checkbox::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.form-privacy__checkbox-hidden:checked + .form-privacy__checkbox {
  background-image: url(../img/form/form-check.svg);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.how {
  background-color: #f8f8f8;
  padding-top: 80px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.how__title {
  font-size: var(--fz-title-section);
  text-align: center;
  margin-bottom: 50px;
  font-weight: 600;
  margin-top: 50px;
}

.how__activator {
  background-color: var(--c-accent);
  border: 2px solid var(--c-accent);
  color: var(--c-text-regular);
  font-size: 18px;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-shadow: var(--shadow-button);
          box-shadow: var(--shadow-button);
  border-radius: 12px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  display: inline-block;
  margin-bottom: 40px;
}

.how__activator:hover {
  background-image: var(--bg-button-primary--hover);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.how__activator:focus {
  background-image: var(--bg-button-primary--hover);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.how-pop__em {
  background-color: var(--c-accent);
}

.popups {
  display: none;
}

.pop-thanks {
  width: 300px;
  padding: 40px 20px;
  background-color: #fff;
  border-radius: 12px;
}

.text-select {
  -webkit-user-select: all;
     -moz-user-select: all;
      -ms-user-select: all;
          user-select: all;
}
/*# sourceMappingURL=index.css.map */